@{ 
	Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Assignment One</title>
    </head>
    <body>
		<table border="1">
			<tr>
				<td>Student name</td>
				<td>Student age</td>
				<td>Student major</td>
			</tr>
			<tr>
				<td>Stephen Knotek</td>
				<td>23</td>
				<td>Computer Science</td>
			</tr>
			
		</table>
		
    </body>
</html>
