@{ 
	Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Assignment One</title>
    </head>
    <body class="RenderedColor">
		<p class="CenterAndBig">Welcome to Stephen Knotek's first assignment</p>
    </body>
</html>