@{
	Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>On page Two</title>
    </head>
    <body>
		@if (IsPost)
		{
			Response.Redirect("~/PageThree.cshtml");
		}else
		{
			<form action="" method="post">
				On a scale from one to ten, how tedious is HTML?<br />
				<input type="radio" name="input" value="1" checked />1<br />
				<input type="radio" name="input" value="2" />2<br />
				<input type="radio" name="input" value="3" />3<br />
				<input type="radio" name="input" value="4" />4<br />
				<input type="radio" name="input" value="5" />5<br />
				<input type="radio" name="input" value="6" />6<br />
				<input type="radio" name="input" value="7" />7<br />
				<input type="radio" name="input" value="8" />8<br />
				<input type="radio" name="input" value="9" />9<br />
				<input type="radio" name="input" value="10" />10<br />
				<input type="submit" value="Submit" />
			</form>
		}
    </body>
</html>
