@{
	Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>On page Two</title>
    </head>
    <body>
		@if (IsPost)
		{
			Response.Redirect("~/PageThree.cshtml");
		}else
		{
			<form action="" method="post">
				On a scale from one to ten, how tedious is HTML?<br />
				<input type="radio" name="one" value="1" checked />1<br />
				<input type="radio" name="two" value="2" />2<br />
				<input type="radio" name="three" value="3" />3<br />
				<input type="radio" name="four" value="4" />4<br />
				<input type="radio" name="five" value="5" />5<br />
				<input type="radio" name="six" value="6" />6<br />
				<input type="radio" name="seven" value="7" />7<br />
				<input type="radio" name="eight" value="8" />8<br />
				<input type="radio" name="nine" value="9" />9<br />
				<input type="radio" name="ten" value="10" />10<br />
				<input type="submit" value="Submit" />
			</form>
		}
    </body>
</html>
