<link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/scripts/bootstrap.min.js" type="text/javascript" />
<link rel="stylesheet" href="~/scripts/jquery-1.9.1.min.js" type="text/javascript" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css.map" type="text/css" />
<div class="jumbotron">
	<h3>Stephen Knotek Assignment Two</h3>
</div>