<!DOCTYPE html>
<html>
    <head>
        <title></title>
		<link rel="stylesheet" href="@Href("~/Shared/style.css")" type="text/css" />
    </head>
    <body>
		<div>
			<header class="HeaderStyle">
				@RenderPage("~/Shared/_header.cshtml")
			</header>
			<aside class="ColoredSidebar">
				@RenderPage("~/Shared/_sidebar.cshtml")
			</aside>
			<div>
				@RenderBody()
			</div>
		</div>
    </body>
</html>
