<nav class="navbar">
	<div class="nav-stacked">
		<ul class="nav">
			<li><a href="~/default.cshtml">Home Page</a></li>
			<li><a href="~/PageTwo.cshtml">Add user to table</a></li>
			<li><a href="~/PageThree.cshtml">List of users</a></li>
		</ul>
	</div>
</nav>